/* RESET */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Roboto', sans-serif;
}

img {
    width: 100%;
    /*  Per fare in modo che non abbiano spazi strani
        e che vada su una nuova riga */
    display: block;
}

/* HEADER */
.clearfix::after {
    content: "";
    display: table;
    clear: both;
}

.col {
    float: left;
}

.container {
    width: 1050px;
    margin: 0 auto;
}

header {
    height: 550px;
    background-image: url("../img/background-header.png");
    background-size: 1000px;
    background-repeat: no-repeat;
    background-position: 130% 108%;
    background-color: #0d325a;
}

.logo {
    width: 15%;
}

nav {
    padding: 20px 0;
}

.menu-mid {
    width: 46%;
    padding-left: 30px;
}

.menu-right {
    width: 39%;
    text-align: right;
}

.menu {
    list-style-type: none;
    padding-top: 20px;
    /* Oppure line-height */
}
.menu li {
    display: inline-block;
    margin-left: 18px;
}
.menu li a {
    text-decoration: none;
    font-size: 11px;
    color: white;
}

.menu li .login {
    border: 1px solid white;
    padding: 10px 20px;
    border-radius: 8px;
}

.button { /* prima di img? */
    padding: 10px 20px;
    background-color: #7cbb02;
    border: 1px solid  #7cbb02;
    border-radius: 8px;
}

/* Hover */
.menu.yellow li:hover a {
    color: #fff200;
} 
