/* RESET */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Roboto', sans-serif;
}

img {
    width: 100%;
    /*  Per fare in modo che non abbiano spazi strani
        e che vada su una nuova riga */
    display: block;
}

/* HEADER */
.clearfix::after {
    content: "";
    display: table;
    clear: both;
}

.col {
    float: left;
}
/* Container generico che racchiude tutto */
.container, main .goals {
    width: 1050px;
    margin: 0 auto;
}
/* Background */
header {
    height: 550px;
    background-image: url("../img/background-header.png");
    background-size: 1000px;
    background-repeat: no-repeat;
    background-position: 118% 108%;
    background-color: #0d325a;
}

.logo {
    width: 15%;
}

nav {
    padding: 20px 0;
}

/* Menu */
.menu-mid {
    width: 46%;
    padding-left: 30px;
}

.menu-right {
    width: 39%;
    text-align: right;
}

.menu {
    list-style-type: none;
    padding-top: 20px;
    /* Oppure line-height */
}
.menu li {
    display: inline-block;
    margin-left: 18px;
}
.menu li a {
    text-decoration: none;
    font-size: 11px;
    color: white;
}

.menu li .login {
    border: 1px solid white;
    padding: 10px 20px;
    border-radius: 8px;
}

.button { /* prima di img? */
    padding: 10px 20px;
    background-color: #7cbb02;
    border: 1px solid  #7cbb02;
    border-radius: 8px;
}

/* Hover */
.menu.yellow li:hover a {
    color: #fff200;
} 

/* Title + button */
.teaser {
    margin-top: 20%;
    width: 60%;
    color: white;
}

h1 {
    font-size: 55px;
}

/* Button sovrascritto */
.teaser .button {
    margin-top: 20px;
    display: inline-block;
    text-decoration: none;
    color: white;
    padding: 18px 20px;
}

/* MAIN */
main .container {
    width: 100%;
    padding: 40px 0;
    text-align: center;
    background-color: #d3d3d3;
}
.container h3 {
    font-size: 25px;
}

.gray-text {
    color: #808080;
    padding-top: 10px;
}


/* Section 2 - Columns */
main .goals::after {
    content: "";
    display: table;
    clear: both;
}

.goals {
    padding: 30px 0;
    text-align: center;
}

.goals .col {
    float: left;
    width: 33%;
    padding: 0 10px;
}

.col-text {
    display: block;
    padding: 20px 0;
}

.col-image img {
    height: 150px;
}

.col-text h2 {
    color: #7cbb02;
}

.col-text hr {
    width: 50px;
    margin: 20px auto;
}

/* Interlinea fra le righe del testo */
.col-text p {
    line-height: 1.4;
}


/* Section 3 */
.two .col img {
    height: 350px;
}

.goals.two .col{
    width: 50%;
}

.goals.two .col-text h2 {
    font-size: 35px;
    color: black;
}

.goals.two .col-text {
    padding-right: 30px;
    text-align: left;
}

.goals.two .col-text a {
    color: blue;
    display: block;
    padding-top: 20px;
}